h1 {
    color: blue;
    text-align: center;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: auto;
}

caption {
    font-size: 25px;
    color: orange;
}

th {
    width: 100px;
    background-color: rgb(84, 237, 84);
    text-align: center;
    font-weight: bold;
}

.lm {
    background-color: rgb(113, 113, 156);
}

.bd {
    background-color: rgb(247, 193, 92)
}

.pd {
    background-color: rgb(242, 78, 78);
}

.si {
    background-color: rgb(39, 183, 183);
}

.tut {
    background-color: rgb(131, 67, 190);
}

.an {
    background-color: rgb(216, 171, 171);
}

.diw {
    background-color: rgb(152, 152, 24);
}

.ip {
    background-color: rgb(125, 206, 125);
}

table {
    text-align: center;
}

#descans {
    padding: 15px;
    font-size: 20px;
}

.hores {
    font-size: 20px;
    padding: 10px;
    width: 180px;
}

.capçaleres {
    padding: 30px;
    font-size: 25px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}